html {
    overflow: hidden;
}

[tabindex] {
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #333;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}